@charset "UTF-8";
html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    font-family: arial, sans-serif;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.sing {
    background-color: rgb(70, 165, 202);
    display: block;
    height: 2.5rem;
    width: 9rem;
    text-align: center;
    color: white;
}

.sing span {
    color: #fff;
}

.ue-nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
}

.ue-nav li a {
    color: #000;
    margin-right: 3rem;
}

.con {
    text-align: center;
    position: relative;
}

.logo {
    padding: 20rem 0 3rem 0;
}

.search input[type=text] {
    width: 40vw;
    height: 4rem;
    padding-left: 4rem;
    border-radius: 30%;
    box-sizing: border-box;
    border: 1px solid #999;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
}

.search input[type=text]:hover {
    box-shadow: 0 0 1rem gray;
    transition-duration: 0.5s;
}

.fa-search {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 30.3vw;
    top: 34rem;
    color: #999;
}

.btn02 {
    display: flex;
    justify-content: space-between;
    width: 38rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 5rem;
    font-weight: 100;
}

.btn02 input {
    background-color: rgb(228, 222, 222);
    color: #696969;
}

.b1 {
    width: 15rem;
    border-radius: 0.3rem;
}

.b1:hover {
    color: black;
    transition-duration: 0.3s;
}

.b2 {
    width: 20rem;
    border-radius: 0.3rem
}

.b2:hover {
    color: black;
    transition-duration: 0.3s;
}

.f-nav {
    height: 4rem;
    width: 100%;
    background-color: #f2f2f2;
    border: solid 1px #e4e4e4;
    position: absolute;
    bottom: 0;
}

.left-nav {
    display: flex;
    float: left;
    line-height: 4rem;
}

.left-nav li a,
.right-nav li a {
    color: #5f6368;
    margin-left: 2rem;
}

.left-nav li a:hover,
.right-nav li a:hover,
.ue-nav li a:hover {
    text-decoration: underline;
}

.right-nav li a:last-child {
    margin-right: 2rem;
}

.right-nav {
    display: flex;
    float: right;
    line-height: 4rem;
}